.catch-form {
    background-color: rgb(15, 14, 83);
    color: white;
   /*  border: 2px solid red; */
    width: 1200px;
    min-width: 800px;
}

.catch-container {
    /*  border: 2px solid green;  */
    width: 100%;
}

.input-catch-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*  border: 2px solid white;  */
    width: 100%;
    text-align: left;
    margin-left: 10px;
    height: 1200px;
    width: 1000px;
}

.nav-button-o {
    color: white;
    font-size: 12px;
    background-color: rgb(42, 167, 224);
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0px;
    border: 0px solid green;
    text-align: center;
    width: 115px;
}

.catch-header {
    /*  border: 2px solid blue;  */
    background-color: rgb(42, 167, 224);
    width: 100%;
}

.catch {
    width: 95%;
    /* margin-left: 8px; */
    color: white;
    background-color: rgb(16, 14, 148);
    border: 1px solid gray;
}

.catch:hover {
    background-color: rgb(33, 30, 211);
}

.catch-text {}

.catch-text:hover {
    color: yellow;
}

/* .select-place {
    width: 30%;
} */

.save-catch-data {
    color: white;
    width: 28%;
    margin-top: 20px;
    height: 40px;
    background-color: rgb(44, 44, 168);
}

.save-catch-data:hover {
    background-color: rgb(26, 6, 199);
}

.charts {
    /*  border: 2px solid red; */
    width: 200px;
    height: 2000px;
    left: 200px;
    top: 200px;
}

.chart-container {
    width: 60%;
    /* background-color: red; */
    height: 300px;
}

.select-lunarphase {
    width: 95%;
    background-color: rgb(31, 28, 187);
    border: 1px solid gray;
    color: white;
    /* margin-left: 8px; */
    height: 30px;
    /*  margin-left: 10px; */
}

.nav-catch-icon-1 {
    background-image: url('../Graphics/fish17.png');
    background-repeat: no-repeat;
    width: 80px;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid black;  */
}

.nav-catch-icon-1:hover {
    background-image: url('../Graphics/fish20.png');
}

#nav-dicon1 {
    background-image: url('../Graphics/cod01.png');
    width: 120px;
    cursor: pointer;
}

#nav-dicon2 {
    background-image: url('../Graphics/cloud03.png');
    width: 70px;
    cursor: pointer;
}

/* By Angler */

#nav-dicon3 {
    background-image: url('../Graphics/meter01.png');
    width: 60px;
    cursor: pointer;
    /*  border: 2px solid blue; */
}

/* By Rod Type  */

#nav-dicon4 {
    background-image: url('../Graphics/manBoat01.png');
    width: 110px;
    cursor: pointer;
}

#nav-dicon5 {
    background-image: url('../Graphics/hook01.png');
    width: 70px;
    cursor: pointer;
}

#nav-dicon1:hover {
    background-image: url('../Graphics/cod04.png');
}

#nav-dicon2:hover {
    background-image: url('../Graphics/cloud04.png');
    width: 70px;
}

/* By Angler */

#nav-dicon3:hover {
    background-image: url('../Graphics/meter02.png');
    /*  border: 2px solid blue; */
}

/* By Rod Type  */

#nav-dicon4:hover {
    background-image: url('../Graphics/manBoat04.png');
}

#nav-dicon5:hover {
    background-image: url('../Graphics/hook06.png');
}

.fishSection {
    /* border: 2px solid blue; */
    padding-left: 8px;
   /*  border: 2px solid green; */
    margin-top: 20px;
    padding-bottom: 10px; 
    width: 28%;
    background-color: rgb(51, 51, 79);
    /* background-image: url('../Graphics/bass-1024.jpg'); */
    
    /* display: none; */
}
h3 {
text-align: center;
}
.weatherSection {
    padding-left: 8px;
   /*  border: 2px solid green; */
    margin-top: 20px;
    padding-bottom: 10px;
    width: 28%;
    background-color: rgb(55, 79, 127);
  /* background-image: url('../Graphics/m1.jpg');  */ 
  background-position: -140px 0px;   
  /* display: none; */
}

.equipmentSection {
   /*  border: 2px solid yellow; */
   padding-left: 8px;
    margin-top: 24px;
    padding-bottom: 10px; 
    color: white;
    margin-top: 20px;
    background-color: rgba(125, 159, 205);
    width: 28%;
   /*   background-image: url('../Graphics/lake_prt.png'); */
     background-position: 00px 0px; 
  /*   display: none; */
}

.photoSection {
  /*   border: 2px solid aqua; */
  padding-left: 8px;
  margin-top: 20px;
  padding-bottom: 10px;  
  height: 350px;
    margin-top: 20px;
    width: 28%;
    background-color: rgb(184, 207, 251);
    /* background-image: url('../Graphics/bass_night.png'); */
    background-position: 260px 0px; 
   /*  display: none; */  
}



.visible {
    display: flex;
}



#file-upload {
    width: 94%;
}

.image-holder {
    margin-top: 20px;
    width: 75%;
    height: 150px;
    /* background-color: rgb(36, 39, 43); */
    border: 2px solid gray;
}