.nav-button-n {
    color: white;
    font-size: 12px;
    background-color: rgb(42, 167, 224);
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0px;
    border: 0px solid green;
    text-align: center;
    width: 120px;
}

.nav-button-n:hover {
    color: rgb(8, 89, 143);
}

.wrapper {
    width: 1500px;
    /* border: 4px solid blue; */
    display: flex;
    flex-direction: row;
}

.nav-chart {
    flex-direction: row;
    height: 116px;
    overflow-x: scroll;
    overflow-y: hidden;
    /*  overflow: auto; */
    /* height: 80px; */
    white-space: nowrap;
    width: 1200px;
    /* border: 4px solid gray; */
    background-color: rgb(42, 167, 224);
}

.chart-container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 900px;
    /* border: 2px solid red;  */
}

.charts {
    margin-top: 80px;
    width: 800px;
    /*  border: 2px solid green; */
    height: 600px;
}

.chart-container2 {
    display: flex;
    flex-direction: column;
    width: 740px;
    height: 430px;
    /*  border: 2px solid orange;  */
}

.nav-icon-1 {
    background-image: url('../Graphics/fish17.png');
    background-repeat: no-repeat;
    width: 80px;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid black;  */
}

.nav-icon-1:hover {
    background-image: url('../Graphics/fish20.png');
}

/* By BaitType */

#cicon2 {
    background-image: url('../Graphics/fish17.png');
    width: 80px;
}

/* By Angler */

#cicon3 {
    background-image: url('../Graphics/bars1.png');
    width: 80px;
    /*  border: 2px solid blue; */
}

/* By Rod Type  */

#cicon4 {
    background-image: url('../Graphics/bars1.png');
    width: 80px;
}

/* By Line Type */

#cicon5 {
    background-image: url('../Graphics/fish17.png');
    width: 80px;
}

/* By Bait Color */

#cicon6 {
    background-image: url('../Graphics/fish17.png');
    width: 80px;
}

/* By Fishing Style */

#cicon7 {
    background-image: url('../Graphics/fish17.png');
    /* width: 120px; */
}

/* By Location */

#cicon8 {
    background-image: url('../Graphics/fish17.png');
}

/* By Air Temp */

#cicon9 {
    background-image: url('../Graphics/fish17.png');
}

/* By Sky Condition */

#cicon10 {
    background-image: url('../Graphics/fish17.png');
    width: 80px;
}

/* By Lunar Phase */

#cicon11 {
    background-image: url('../Graphics/bars1.png');
    width: 80px;
    /*  border: 2px solid blue; */
}

/* By Pressure */

#cicon12 {
    background-image: url('../Graphics/bars1.png');
    width: 80px;
}

/* By Water Temp */

#cicon13 {
    background-image: url('../Graphics/fish17.png');
    width: 80px;
}

/* By Water Depth */

#cicon14 {
    background-image: url('../Graphics/fish17.png');
    width: 80px;
}

/* By Bottom */

#cicon15 {
    background-image: url('../Graphics/fish17.png');
}

/* By Water Color */

#cicon16 {
    background-image: url('../Graphics/fish17.png');
}

/* By Reel */

#cicon17 {
    background-image: url('../Graphics/fish17.png');
}

/* By Hook Size */

#cicon18 {
    background-image: url('../Graphics/fish17.png');
    width: 80px;
}

/* By Hook Type */

#cicon19 {
    background-image: url('../Graphics/fish17.png');
    width: 80px;
}

/* By Sinker Style */

#cicon20 {
    background-image: url('../Graphics/fish17.png');
}

/* By Line Test */

#cicon21 {
    background-image: url('../Graphics/fish17.png');
}

/* By Line Color */

#cicon22 {
    background-image: url('../Graphics/fish17.png');
}

#cicon2:hover {
    background-image: url('../Graphics/cfish1.png');
}

#cicon3:hover {
    background-image: url('../Graphics/bars2.png');
}

#cicon4:hover {
    background-image: url('../Graphics/bars2.png');
}

#cicon5:hover {
    background-image: url('../Graphics/cfish1.png');
}

#cicon6:hover {
    background-image: url('../Graphics/cfish1.png');
}

#cicon7:hover {
    background-image: url('../Graphics/cfish1.png');
}

#cicon8:hover {
    background-image: url('../Graphics/cfish1.png');
}

#cicon9:hover {
    background-image: url('../Graphics/cfish1.png');
}

#cicon10:hover {
    background-image: url('../Graphics/cfish1.png');
}

#cicon11:hover {
    background-image: url('../Graphics/bars2.png');
}

#cicon12:hover {
    background-image: url('../Graphics/bars2.png');
}

#cicon13:hover {
    background-image: url('../Graphics/cfish1.png');
}

#cicon14:hover {
    background-image: url('../Graphics/cfish1.png');
}

#cicon15:hover {
    background-image: url('../Graphics/cfish1.png');
}

#cicon16:hover {
    background-image: url('../Graphics/cfish1.png');
}

#cicon17:hover {
    background-image: url('../Graphics/cfish1.png');
}

#cicon18:hover {
    background-image: url('../Graphics/cfish1.png');
}

#cicon19:hover {
    background-image: url('../Graphics/cfish1.png');
}

#cicon20:hover {
    background-image: url('../Graphics/cfish1.png');
}

#cicon21:hover {
    background-image: url('../Graphics/cfish1.png');
}

#cicon22:hover {
    background-image: url('../Graphics/cfish1.png');
}

.ctr {
    /*  border: 2px solid red; */
    width: 100px;
    height: 100px;
    background-image: url('../Graphics/int_ctr.png');
}

.ctr:hover {
    /*  border: 2px solid red; */
    background-image: url('../Graphics/int_ctr_hi.png');
}

.new-table {
    border: 2px solid green;
    height: 410px;
    width: 5000px;
    /* background-color: #1f40d32a;  */
    color: black;
    font-weight: 400;
}

.container-btn {
    display: inline-block;
    width: 120px;
    /* border: 2px solid red;  */
}